.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 250px;
  background: linear-gradient(135deg, #141928, #121a34);
  flex-wrap: wrap;
}

/* LEFT */
.hero-left {
  max-width: 500px;
}

.hero-left h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.name {
  color: #3b82f6;
}

.typing {
  font-size: 20px;
  background: linear-gradient(135deg, #1edf8c, #dd3b6ecc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* TECH STACK */
.tech-stack {
  margin-top: 15px;
  
}

.tech-badge {
  display: inline-block;
  background: linear-gradient(135deg, #1edf8c, #dd3b6ecc);
  padding: 6px 12px;
  margin: 5px;
  border-radius: 20px;
  font-size: 14px;
  color:black;
  /* box-shadow: 0 2px 5px rgba(189, 189, 222, 0.1); */
}

/* BUTTONS */
.hero-buttons {
  margin-top: 20px;
}

.btn-primary {
  background: #3b82f6;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 8px;
  text-decoration: none;
}

.btn-outline {
  border: 2px solid #3b82f6;
  color: #3b82f6;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

/* RIGHT CONTAINER */
.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* IMAGE STYLE */
.hero-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;

  /* Gradient border */
  padding: 5px;
  background: linear-gradient(135deg, #3b82f6, #1edf8c);

  /* Shadow */
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);

  transition: all 0.4s ease;
}

/* Make image inside circle */
.hero-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* HOVER EFFECT */
.hero-image:hover {
  transform: scale(1.08) rotate(2deg);
  box-shadow: 0 15px 40px rgba(164, 35, 35, 0.3);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-left {
    margin-bottom: 30px;
  }
}