.navbar {
  position:fixed ;
  top: 0;
  width: 95%;
  background: #020617;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;
}

body {
  padding-top: 70px;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}


.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.navbar a {
  color: #e5e7eb;
  text-decoration: none;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.section {
  padding: 4rem 2rem;
  text-align: center;
}

/* Education */
.education-list, .experience-list, .skills-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.education-card, .experience-card, .skill-card {
  background: #020617;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(56, 221, 248, 0.2);
}

.education-card h3, .experience-card h3, .skill-card h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.education-card span, .experience-card span {
  font-size: 0.9rem;
  color: #38bdf8;
}

.skill-card p {
  font-size: 0.9rem;
  color: #38bdf8;
}

/* Skills flex wrap */
.skills-list {
  flex-wrap: wrap;
  justify-content: center;
}

/* Projects */
.projects {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.card {
  background: #020617;
  padding: 1rem;
  border-radius: 8px;
  width: 250px;
}

/* Buttons */
.btn {
  background: #38bdf8;
  padding: 0.5rem 1rem;
  color: #020617;
  text-decoration: none;
  border-radius: 5px;
}

/* Footer */
.footer {
  position:fixed ;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 2rem;
  background: #020617;
}